@use "../util" as *;

.header {
  margin-top: rem(25);

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }  

  &__title{
    margin-bottom: rem(20);
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  &__title::after {
    content: "";
    display: block;
    // border: 1px solid var(--light-text1);
    height: 1px;
    background-color: var(--light-text1);
    margin-bottom: 20px;
    margin-top: 20px;
    @include breakpoint(medium) {
      display: none;
    }
  }

  &__title--main {
    color: var(--text-color2);
  }

  &__title--sub {
    font-size: rem(14);
    color: var(--text-color1);
    font-weight: 700;
  }

  &__toggle {
    
  }
}
