@use "../util" as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(medium) {
    justify-content: end;
  }

  &__label {
    cursor: pointer;
    font-weight: 700;
    color: var(--text-color1);
    @include breakpoint(medium) {
      margin-right: rem(56);
    }
  }

  &__btn {
    appearance: none;
    position: relative;
    cursor: pointer;
  }

  &__btn::before {
    content: "";
    position: absolute;
    width: rem(48);
    height: rem(24);
    right: 0;
    top: rem(-11);
    background: var(--toggle-bg);
    border-radius: 100px;
  }

  &__btn::after {
    content: "";
    position: absolute;
    top: rem(-9);
    // right: rem(25);
    right: rem(3);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--toggle-button);
    transition: all 0.3s ease;
  }

  &__btn:checked::after {
    right: rem(25);
  }
}
